<!DOCTYPE html>
<html lang="ko" class="font-primary">
  <head>
    <!-- Title -->
    <title>서울특별시 자율방범연합회</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
      <!--
    <link rel="shortcut icon" href="../../favicon.ico">
        -->
    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700%7Csubset=cyrillic,latin" rel="stylesheet" type="text/css">

    <!-- CSS Global Compulsory -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">

    <!-- CSS Implementing Plugins -->

    <link rel="stylesheet" href="{% static 'assets/vendor/icon-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/icon-line/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/icon-line-pro/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/icon-hs/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/dzsparallaxer/dzsparallaxer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/dzsparallaxer/dzsscroller/scroller.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/dzsparallaxer/advancedscroller/plugin.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fancybox/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/typedjs/typed.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/hamburgers/hamburgers.min.css' %}">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{% static 'assets/css/unify.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
  </head>

  <body>
    <main>
      <!-- Header -->
      <header id="js-header" class="u-header u-header--static u-header--toggle"
              data-header-fix-moment="500"
              data-header-fix-effect="slide">
        <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10"
             data-header-fix-moment-exclude="g-bg-white g-py-10"
             data-header-fix-moment-classes="g-bg-white-opacity-0_9 u-shadow-v18 g-py-3">
          <nav class="js-mega-menu navbar navbar-toggleable-md g-mt-7--lg">
            <div class="container">
              <!-- Responsive Toggle Button -->
              <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-right-0" type="button"
                      aria-label="Toggle navigation"
                      aria-expanded="false"
                      aria-controls="navBar"
                      data-toggle="collapse"
                      data-target="#navBar">
                <span class="hamburger hamburger--slider">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </span>
              </button>
              <!-- End Responsive Toggle Button -->

              <!-- Logo -->
              <a href="../../unify-main/home/home-page-1.html" class="navbar-brand" >
                <img src="{% static 'custom/logo1.gif' %}" alt="Image Description" style="height: 60px;">
              </a>
              <!-- End Logo -->

              <!-- Navigation -->
              <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg" id="navBar">
                <ul class="navbar-nav text-uppercase g-font-weight-600 g-ml-40--lg mr-auto g-mt-25--lg">

                  <li class="nav-item hs-has-sub-menu g-mx-10--lg g-mx-15--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                  >
                    <a id="nav-link--home" class="nav-link g-py-7 g-px-0" href="#"
                       aria-haspopup="true"
                       aria-expanded="false"
                       aria-controls="nav-submenu--home"
                       style="font-size: 1.15em;"
                    >서울연합회 소개</a>

                    <!-- Submenu -->
                    <ul class="hs-sub-menu list-unstyled g-brd-top g-brd-darkblue g-brd-top-2 g-min-width-220 g-py-7 g-mt-30--lg g-mt-30--lg--scrolling" id="nav-submenu--home"
                        aria-labelledby="nav-link--home">

                      <li class="dropdown-item"><a class="nav-link" href="../../unify-main/home/home-page-1.html">인사말</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="../../unify-main/home/home-page-2.html">소개</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="../../unify-main/home/home-page-3.html">회훈</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="../../unify-main/home/home-page-4.html">정관</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="../../unify-main/home/home-page-6.html">행동강령</a></li>

                    </ul>
                    <!-- End Submenu -->
                  </li>

                  <li class="nav-item hs-has-sub-menu g-mx-10--lg g-mx-15--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                  >
                    <a id="nav-link--pages" class="nav-link g-py-7 g-px-0" href="#"
                       aria-haspopup="true"
                       aria-expanded="false"
                       aria-controls="nav-submenu--pages"
                       style="font-size: 1.15em;"
                    >서울연합회 현황</a>
                    <!-- Submenu -->
                    <ul class="hs-sub-menu list-unstyled g-brd-top g-brd-darkblue g-brd-top-2 g-min-width-220 g-py-7 g-mt-30--lg g-mt-30--lg--scrolling" id="nav-submenu--pages"
                        aria-labelledby="nav-link--pages">

                      <li class="dropdown-item"><a class="nav-link" href="#">조직도</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="#">임원진</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="#">역대 회장</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="#">서울연합회 현황</a></li>
                    </ul>
                    <!-- End Submenu -->
                  </li>

                  <li class="nav-item hs-has-sub-menu g-mx-10--lg g-mx-15--xl"
                    data-animation-in="fadeIn"
                    data-animation-out="fadeOut"
                    >

                    <a id="nav-link--features" class="nav-link g-py-7 g-px-0"
                       href="#" aria-haspopup="true"
                       aria-expanded="false" style="font-size: 1.15em;">정보마당</a>
                    <ul class="hs-sub-menu list-unstyled g-brd-top g-brd-darkblue g-brd-top-2 g-min-width-220 g-py-7 g-mt-30--lg g-mt-30--lg--scrolling" id="nav-submenu--features"
                        aria-labelledby="nav-link--features">
                      <li class="dropdown-item"><a class="nav-link" href="#">공지사항</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="#">일정</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="#">방범대 소식</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="#">공문함</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="#">중앙회 소식</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="#">방범대 갤러리</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="#">자유게시판</a></li>
                      <li class="dropdown-item"><a class="nav-link" href="#">정관 및 제규정</a></li>
                    </ul>
                  </li>

                </ul>
              </div>
              <!-- End Navigation -->

              <div class="d-inline-block hidden-xs-down g-pos-rel g-valign-middle g-pl-30 g-pl-0--lg g-pt-20">
                <a class="btn u-btn-outline-indigo g-font-size-13 text-uppercase g-py-10 g-px-15" href="/admin" target="_blank">로그인</a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- End Header -->


      <!-- Blog Minimal Blocks -->
      <section class="g-pt-15 g-py-100">
        <div class="container">
          <div class="row">
            <!-- Articles -->
            <div class="col-lg-8 g-mb-50 g-mb-0--lg">
              <!-- Article -->
              <article class="g-mb-50">
                <figure class="g-pos-rel">
                  <img class="img-fluid w-100 g-mb-20" src="{% static 'custom/post01.jpg' %}" alt="Image Description">

                  <figcaption class="g-pos-abs g-top-20 g-left-20">
                    <a class="btn btn-sm u-btn-darkpurple rounded-0" href="#">공지</a>
                  </figcaption>
                </figure>

                <div class="g-pos-rel px-4">
                  <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mt-minus-45 g-mb-20">
                    <li class="list-inline-item mr-3">
                      <img class="g-width-40 g-height-40 g-brd-around g-brd-2 g-brd-white rounded-circle mb-2" src="{% static 'assets/img-temp/100x100/img7.jpg' %}" alt="Image Description">
                      <h4 class="h6 g-font-weight-600 mb-0">
                        <a class="g-color-gray-dark-v4" href="#">관리자</a>
                      </h4>
                    </li>
                    <li class="list-inline-item">
                      <span class="g-font-size-13">2016년 12월 6일</span>
                    </li>
                    <li class="list-inline-item ml-auto">
                      <a class="u-link-v5 g-color-gray-dark-v5 g-color-indigo--hover" href="#">
                        <i class="align-middle mr-1 icon-medical-022 u-line-icon-pro"></i>
                      </a>
                      <span class="g-color-gray-dark-v5">5k</span>
                    </li>
                    <li class="list-inline-item ml-3">
                      <a class="u-link-v5 g-color-gray-dark-v5 g-color-indigo--hover" href="#">
                        <i class="align-middle mr-1 icon-finance-206 u-line-icon-pro"></i>
                      </a>
                      <span class="g-color-gray-dark-v5">10</span>
                    </li>
                  </ul>

                  <h2 class="h4">
                    <a class="u-link-v5 g-color-black g-color-indigo--hover" href="#">서울시 자율방범연합회 제 5대 회장 이취임식 및 송년회 개최</a>
                  </h2>

                  <p class="g-color-gray-dark-v4">Clark Valberg is the founder and CEO of InVision. If you are a designer, you have probably gotten an email from Clark or from InVision at one time or another, but if you’re not familiar with the company.</p>

                  <a class="g-font-size-12 text-uppercase g-font-weight-600 g-color-gray-dark-v4 g-color-indigo--hover" href="#">자세히 보기</a>
                </div>
              </article>
              <!-- End Article -->


              <!-- Article -->
              <article class="row align-items-center g-mb-30">
                <div class="col-md-6 g-mb-30 g-mb-0--lg">
                  <figure class="g-pos-rel">
                    <img class="img-fluid w-100" src="{% static 'custom/post02.jpg' %}" alt="Image Description">

                    <figcaption class="g-pos-abs g-top-20 g-left-20">
                      <a class="btn btn-sm u-btn-pink rounded-0" href="#">UI Design</a>
                    </figcaption>
                  </figure>
                </div>

                <div class="col-md-6">
                  <div class="g-pa-30--md">
                    <ul class="u-list-inline g-color-gray-dark-v4 g-font-size-12 g-mb-10">
                      <li class="list-inline-item">
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-indigo--hover" href="#">Alex Teseira</a>
                      </li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        July 18, 2017
                      </li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color- blue--hover" href="#">
                          <i class="icon-finance-206 u-line-icon-pro align-middle mr-1"></i> 24
                        </a>
                      </li>
                    </ul>

                    <h3 class="h4 g-color-black g-mb-25">
                      <a class="u-link-v5 g-color-black g-color- blue--hover" href="#">Announcing a free plan for small teams</a>
                    </h3>

                    <a class="g-font-size-12 text-uppercase g-font-weight-600 g-color-gray-dark-v4 g-color- blue--hover" href="#">자세히 보기</a>
                  </div>
                </div>
              </article>
              <!-- End Article -->

              <!-- Article -->
              <article class="row align-items-center g-mb-50">
                <div class="col-md-6 g-mb-30 g-mb-0--lg">
                  <figure class="g-pos-rel">
                    <img class="img-fluid w-100" src="{% static 'custom/post03.jpg' %}" alt="Image Description">

                    <figcaption class="g-pos-abs g-top-20 g-left-20">
                      <a class="btn btn-sm u-btn-aqua rounded-0" href="#">Business</a>
                    </figcaption>
                  </figure>
                </div>

                <div class="col-md-6">
                  <div class="g-pa-30--md">
                    <ul class="u-list-inline g-color-gray-dark-v4 g-font-size-12 g-mb-10">
                      <li class="list-inline-item">
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color- blue--hover" href="#">Mike Coolman</a>
                      </li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        July 16, 2017
                      </li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-indigo--hover" href="#">
                          <i class="icon-finance-206 u-line-icon-pro align-middle mr-1"></i> 32
                        </a>
                      </li>
                    </ul>

                    <h3 class="h4 g-color-black g-mb-25">
                      <a class="u-link-v5 g-color-black g-color-indigo--hover" href="#">Exclusive interview with InVision's CEO</a>
                    </h3>

                    <a class="g-font-size-12 text-uppercase g-font-weight-600 g-color-gray-dark-v4 g-color-indigo--hover" href="#">자세히 보기</a>
                  </div>
                </div>
              </article>
              <!-- End Article -->

              <!-- Article -->
              <article class="g-mb-50">
                <figure class="g-pos-rel">
                  <img class="img-fluid w-100 g-mb-20" src="{% static 'custom/post04.jpg' %}" alt="Image Description">

                  <figcaption class="g-pos-abs g-top-20 g-left-20">
                    <a class="btn btn-sm u-btn-yellow rounded-0" href="#">Web Design</a>
                  </figcaption>
                </figure>

                <div class="g-pos-rel px-4">
                  <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mt-minus-45 g-mb-20">
                    <li class="list-inline-item mr-3">
                      <img class="g-width-40 g-height-40 g-brd-around g-brd-2 g-brd-white rounded-circle mb-2" src="{% static 'assets/img-temp/100x100/img6.jpg' %}" alt="Image Description">
                      <h4 class="h6 g-font-weight-600 mb-0">
                        <a class="g-color-gray-dark-v4" href="#">James Woodman</a>
                      </h4>
                    </li>
                    <li class="list-inline-item">
                      <span class="g-font-size-13">July 12, 2017</span>
                    </li>
                    <li class="list-inline-item ml-auto">
                      <a class="u-link-v5 g-color-gray-dark-v5 g-color-indigo--hover" href="#">
                        <i class="align-middle mr-1 icon-medical-022 u-line-icon-pro"></i>
                      </a>
                      <span class="g-color-gray-dark-v5">2.1k</span>
                    </li>
                    <li class="list-inline-item ml-3">
                      <a class="u-link-v5 g-color-gray-dark-v5 g-color-indigo--hover" href="#">
                        <i class="align-middle mr-1 icon-finance-206 u-line-icon-pro"></i>
                      </a>
                      <span class="g-color-gray-dark-v5">16</span>
                    </li>
                  </ul>

                  <h2 class="h4">
                    <a class="u-link-v5 g-color-black g-color-indigo--hover" href="#">In the future, design principles won’t be about design</a>
                  </h2>

                  <p class="g-color-gray-dark-v4">In an attempt to answer those questions, I poured over the biggest collections of design principles on the internet [1][2], and came to the following conclusion: corporate design principles are a set of shared guidelines that reflect the core design values and vision of a company.</p>

                  <a class="g-font-size-12 text-uppercase g-font-weight-600 g-color-gray-dark-v4 g-color-indigo--hover" href="#">자세히 보기</a>
                </div>
              </article>
              <!-- End Article -->

              <!-- Pagination -->
                <!--
              <nav id="stickyblock-end" class="text-center" aria-label="Page Navigation">
                <ul class="list-inline">
                  <li class="list-inline-item float-left hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-primary--hover g-rounded-50 g-pa-7-16" href="#" aria-label="Previous">
                    <span aria-hidden="true">
                      <i class="fa fa-angle-left g-mr-5"></i> Previous
                    </span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14" href="#">1</a>
                  </li>
                  <li class="list-inline-item">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14" href="#">2</a>
                  </li>
                  <li class="list-inline-item float-right hidden-xs-down">
                    <a class="u-pagination-v1__item u-pagination-v1-4 g-brd-gray-light-v3 g-brd-indigo--hover g-rounded-50 g-pa-7-16" href="#" aria-label="Next">
                    <span aria-hidden="true">
                      Next <i class="fa fa-angle-right g-ml-5"></i>
                    </span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
              -->
              <!-- End Pagination -->
            </div>

            <!-- End Articles -->

            <!-- Sidebar -->
            <div class="col-lg-4">
              <!-- Subscribe -->
              <div class="u-bg-overlay g-bg-img-hero g-bg-white-gradient-opacity-v2--after g-pa-50 g-pt-100 g-mb-50" style="background-image: url(../../assets/img-temp/500x600/img4.jpg);">
                <div class="u-bg-overlay__inner text-center">
                  <div class="g-mb-30">
                    <h2 class="g-color-white">서울시 자율방범연합회</h2>
                    <p class="g-color-white-opacity-0_8">서울시 영등포구 도림로 481-1 </p>
                  </div>

                  <div class="g-mb-30">
                    <h3 class="g-color-gray-light-v1 g-font-weight-600 g-font-size-12 text-uppercase">Phone number</h3>
                    <span class="g-color-white g-font-size-20">02-2068-8112</span>
                  </div>

                  <div class="g-mb-30">
                    <h3 class="g-color-gray-light-v1 g-font-weight-600 g-font-size-12 text-uppercase">E-mail</h3>
                    <span class="g-color-white g-font-size-20">asanbb@naver.com</span>
                  </div>

                  <div class="input-group rounded">
                    <input class="form-control g-brd-none g-px-13 g-py-13" type="email" placeholder="Your Email">
                    <div class="input-group-btn">
                      <button class="btn u-btn-indigo text-uppercase g-px-20" type="submit">
                        <i class="icon-envelope g-pos-rel g-top-1"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Subscribe -->

              <!-- Useful Links -->
              <div class="g-mb-50">
                <div class="u-heading-v2-3--bottom g-brd-indigo g-mb-20">
                  <h3 class="u-heading-v2__title h4 g-color-black mb-0">관련 사이트 링크</h3>
                </div>

                <ul class="list-unstyled">
                  <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                    <h4 class="h6">
                      <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                      <a class="u-link-v5 g-color-gray-dark-v2 g-color-indigo--hover" href="http://www.koreacp.co.kr/">한국 방범연합회 공식 홈페이지</a>
                    </h4>
                  </li>
                  <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                    <h4 class="h6">
                      <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                      <a class="u-link-v5 g-color-gray-dark-v2 g-color-indigo--hover" href="http://cafe478.daum.net/_c21_/home?grpid=1HFnh">서울시 방범연합회 공식 카페</a>
                    </h4>
                  </li>

                </ul>
              </div>
              <!-- End Useful Links -->

              <!-- Posts -->
              <div class="g-mb-30">
                <div class="u-heading-v2-3--bottom g-brd-indigo g-mb-20">
                  <h3 class="u-heading-v2__title h4 g-color-black mb-0">Recent Posts</h3>
                </div>

                <!-- Article -->
                <article class="media g-mb-30">
                  <a class="d-flex mr-3" href="#">
                    <img class="rounded-circle g-width-60 g-height-60" src="{% static 'assets/img-temp/100x100/img8.jpg' %}" alt="Image Description">
                  </a>

                  <div class="media-body">
                    <h3 class="h6">
                      <a class="u-link-v5 g-color-black g-color-indigo--hover" href="#">Best dessert recipes for breakfast which will make your day</a>
                    </h3>

                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                      <li class="list-inline-item">
                        July 20, 2017
                      </li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#">
                          <i class="icon-finance-206 u-line-icon-pro align-middle mr-1"></i> 18
                        </a>
                      </li>
                    </ul>
                  </div>
                </article>
                <!-- End Article -->

                <!-- Article -->
                <article class="media g-mb-30">
                  <a class="d-flex mr-3" href="#">
                    <img class="rounded-circle g-width-60 g-height-60" src="{% static 'assets/img-temp/100x100/img9.jpg' %}" alt="Image Description">
                  </a>

                  <div class="media-body">
                    <h3 class="h6">
                      <a class="u-link-v5 g-color-black g-color-indigo--hover" href="#">Stylish things to do, see and purchase only this week</a>
                    </h3>

                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                      <li class="list-inline-item">
                        July 16, 2017
                      </li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#">
                          <i class="icon-finance-206 u-line-icon-pro align-middle mr-1"></i> 31
                        </a>
                      </li>
                    </ul>
                  </div>
                </article>
                <!-- End Article -->

                <!-- Article -->
                <article class="media g-mb-30">
                  <a class="d-flex mr-3" href="#">
                    <img class="rounded-circle g-width-60 g-height-60" src="{% static 'assets/img-temp/100x100/img11.jpg' %}" alt="Image Description">
                  </a>

                  <div class="media-body">
                    <h3 class="h6">
                      <a class="u-link-v5 g-color-black g-color-indigo--hover" href="#">Government plans to test new blue school pupils and teachers..</a>
                    </h3>

                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                      <li class="list-inline-item">
                        July 07, 2017
                      </li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#">
                          <i class="icon-finance-206 u-line-icon-pro align-middle mr-1"></i> 24
                        </a>
                      </li>
                    </ul>
                  </div>
                </article>
                <!-- End Article -->

                <!-- Article -->
                <article class="media">
                  <a class="d-flex mr-3" href="#">
                    <img class="rounded-circle g-width-60 g-height-60" src="{% static 'assets/img-temp/100x100/img13.jpg' %}" alt="Image Description">
                  </a>

                  <div class="media-body">
                    <h3 class="h6">
                      <a class="u-link-v5 g-color-black g-color-indigo--hover" href="#">Top 10 Luxury Hotels - 5 Star Best Luxury Hotels</a>
                    </h3>

                    <ul class="u-list-inline g-font-size-12 g-color-gray-dark-v4">
                      <li class="list-inline-item">
                        July 11, 2017
                      </li>
                      <li class="list-inline-item">/</li>
                      <li class="list-inline-item">
                        <a class="g-color-gray-dark-v4 g-text-underline--none--hover" href="#">
                          <i class="icon-finance-206 u-line-icon-pro align-middle mr-1"></i> 46
                        </a>
                      </li>
                    </ul>
                  </div>
                </article>
                <!-- End Article -->
              </div>
              <!-- End Posts -->

              <div id="stickyblock-start" class="js-sticky-block g-sticky-block--lg g-pt-20" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
                <!-- Tags -->
                <div class="g-mb-30">
                  <div class="u-heading-v2-3--bottom g-brd-indigo g-mb-20">
                    <h3 class="u-heading-v2__title h4 g-color-black mb-0">Tags</h3>
                  </div>

                  <ul class="u-list-inline g-font-size-12">
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-facebook--hover g-brd-facebook--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#">Web Design</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-facebook--hover g-brd-facebook--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#">Bootstrap</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-facebook--hover g-brd-facebook--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#">SASS</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-facebook--hover g-brd-facebook--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#">Marketing</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-facebook--hover g-brd-facebook--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#">Unify</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-facebook--hover g-brd-facebook--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#">Htmlstream</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-facebook--hover g-brd-facebook--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#">Pixeel</a>
                    </li>
                    <li class="list-inline-item g-mb-10">
                      <a class="u-tags-v1 g-brd-around g-brd-gray-light-v4 g-bg-facebook--hover g-brd-facebook--hover g-color-black-opacity-0_6 g-color-white--hover g-rounded-50 g-py-5 g-px-15" href="#">Free Themes</a>
                    </li>
                  </ul>
                </div>
                <!-- End Tags -->

                <!-- Authors -->
                <div class="g-mb-50">
                  <div class="u-heading-v2-3--bottom g-brd-indigo g-mb-20">
                    <h3 class="u-heading-v2__title h4 g-color-black mb-0">Authors</h3>
                  </div>

                  <ul class="list-unstyled g-font-size-13 mb-0">
                    <li class="media g-mb-35">
                      <img class="d-flex g-width-40 g-height-40 rounded-circle mr-3" src="{% static 'assets/img-temp/100x100/img1.jpg' %}" alt="Image Description">
                      <div class="media-body">
                        <h4 class="h6 g-color-black g-font-weight-600">Htmlstream</h4>
                        <p class="g-color-gray-dark-v4">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                        <a class="btn u-btn-outline-indigo g-font-size-11 g-rounded-25" href="#">Follow</a>
                      </div>
                    </li>
                    <li class="media g-mb-35">
                      <img class="d-flex g-width-40 g-height-40 rounded-circle mr-3" src="{% static 'assets/img-temp/100x100/img3.jpg' %}" alt="Image Description">
                      <div class="media-body">
                        <h4 class="h6 g-color-black g-font-weight-600">Pixeel</h4>
                        <p class="g-color-gray-dark-v4">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                        <a class="btn u-btn-outline-indigo g-font-size-11 g-rounded-25" href="#">Follow</a>
                      </div>
                    </li>
                    <li class="media">
                      <img class="d-flex g-width-40 g-height-40 rounded-circle mr-3" src="{% static 'assets/img-temp/100x100/img2.jpg' %}" alt="Image Description">
                      <div class="media-body">
                        <h4 class="h6 g-color-black g-font-weight-600">WrapBootstrap</h4>
                        <p class="g-color-gray-dark-v4">This is where we sit down, grab a cup of coffee and dial in the details.</p>
                        <a class="btn u-btn-outline-indigo g-font-size-11 g-rounded-25" href="#">Follow</a>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- End Authors -->
              </div>
            </div>
            <!-- End Sidebar -->
          </div>
        </div>
      </section>
      <!-- End Blog Minimal Blocks -->

      <!-- Footer -->
      <footer class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll">
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_8--after g-bg-img-hero" style="height: 140%; background-image: url(../../assets/img-temp/1920x1080/img1.jpg);"></div>
        <!-- End Parallax Image -->

        <div class="container u-bg-overlay__inner g-color-white-opacity-0_8 g-pt-60 g-mb-60">
          <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
              <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
              </div>

              <div class="g-mb-30">
                <p>Unify is an ultra fully responsive template with modern and design and awesome features.</p>
              </div>

              <address class="mb-0">
                <div class="g-mb-30">
                  <h4 class="h6 g-font-weight-600">Headquarters:</h4>
                  <p class="mb-0">795 Folsom Ave, Suite 600, San Francisco, CA 94107</p>
                </div>

                <div class="g-mb-30">
                  <h4 class="h6 g-font-weight-600">Phone:</h4>
                  <p class="g-mb-10">(+123) 456 7890</p>
                  <p class="mb-0">(+123) 456 7891</p>
                </div>

                <div class="mb-0">
                  <h4 class="h6 g-font-weight-600">Email Address:</h4>
                  <p class="mb-0">
                    <a class="g-color-white-opacity-0_8" href="#">support@htmlstream.com</a>
                  </p>
                </div>
              </address>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
              <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Popular Tags</h2>
              </div>

              <ul class="u-list-inline g-font-size-12 g-mb-30">
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-brd-around g-brd-white-opacity-0_1 g-bg-facebook--hover g-brd-facebook--hover g-color-white-opacity-0_8 g-rounded-50 g-py-4 g-px-15" href="#">Web Design</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-brd-around g-brd-white-opacity-0_1 g-bg-facebook--hover g-brd-facebook--hover g-color-white-opacity-0_8 g-rounded-50 g-py-4 g-px-15" href="#">Bootstrap</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-brd-around g-brd-white-opacity-0_1 g-bg-facebook--hover g-brd-facebook--hover g-color-white-opacity-0_8 g-rounded-50 g-py-4 g-px-15" href="#">SASS</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-brd-around g-brd-white-opacity-0_1 g-bg-facebook--hover g-brd-facebook--hover g-color-white-opacity-0_8 g-rounded-50 g-py-4 g-px-15" href="#">Marketing</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-brd-around g-brd-white-opacity-0_1 g-bg-facebook--hover g-brd-facebook--hover g-color-white-opacity-0_8 g-rounded-50 g-py-4 g-px-15" href="#">Unify</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-brd-around g-brd-white-opacity-0_1 g-bg-facebook--hover g-brd-facebook--hover g-color-white-opacity-0_8 g-rounded-50 g-py-4 g-px-15" href="#">Htmlstream</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-brd-around g-brd-white-opacity-0_1 g-bg-facebook--hover g-brd-facebook--hover g-color-white-opacity-0_8 g-rounded-50 g-py-4 g-px-15" href="#">Pixeel</a>
                </li>
                <li class="list-inline-item g-mb-10">
                  <a class="u-tags-v1 g-brd-around g-brd-white-opacity-0_1 g-bg-facebook--hover g-brd-facebook--hover g-color-white-opacity-0_8 g-rounded-50 g-py-4 g-px-15" href="#">Free Themes</a>
                </li>
              </ul>

              <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Useful Links</h2>
              </div>

              <ul class="list-unstyled">
                <li class="g-mb-5">
                  <i class="fa fa-angle-right g-mr-5"></i>
                  <a class="g-color-white-opacity-0_8" href="#">Wrapbootstrap</a>
                </li>
                <li class="g-mb-5">
                  <i class="fa fa-angle-right g-mr-5"></i>
                  <a class="g-color-white-opacity-0_8" href="#">Google</a>
                </li>
                <li class="g-mb-5">
                  <i class="fa fa-angle-right g-mr-5"></i>
                  <a class="g-color-white-opacity-0_8" href="#">Marketing</a>
                </li>
                <li class="g-mb-5">
                  <i class="fa fa-angle-right g-mr-5"></i>
                  <a class="g-color-white-opacity-0_8" href="#">Support Forum</a>
                </li>
                <li class="mb-0">
                  <i class="fa fa-angle-right g-mr-5"></i>
                  <a class="g-color-white-opacity-0_8" href="#">Themes</a>
                </li>
              </ul>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
              <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Latest Posts</h2>
              </div>

              <article class="media">
                <a class="d-flex g-mt-3 mr-3" href="#">
                  <img class="g-width-60 g-height-60" src="{% static 'assets/img-temp/100x100/img6.jpg' %}" alt="Image Description">
                </a>

                <div class="media-body">
                  <h3 class="h6">
                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Top 7 luxury places to visit around Victoria, BC</a>
                  </h3>

                  <ul class="u-list-inline g-font-size-12">
                    <li class="list-inline-item">June 09, 2017</li>
                    <li class="list-inline-item">/</li>
                    <li class="list-inline-item">
                      <a class="u-link-v5 g-color-white-opacity-0_8 g-color-white--hover" href="#">
                        <i class="fa fa-comments-o"></i> 12
                      </a>
                    </li>
                  </ul>
                </div>
              </article>

              <hr class="g-brd-white-opacity-0_1 g-mt-20 g-mb-15">

              <article class="media">
                <a class="d-flex g-mt-3 mr-3" href="#">
                  <img class="g-width-60 g-height-60" src="{% static 'assets/img-temp/100x100/img5.jpg' %}" alt="Image Description">
                </a>

                <div class="media-body">
                  <h3 class="h6">
                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Coding week, 10 best premium templates</a>
                  </h3>

                  <ul class="u-list-inline g-font-size-12">
                    <li class="list-inline-item">July 30, 2017</li>
                    <li class="list-inline-item">/</li>
                    <li class="list-inline-item">
                      <a class="u-link-v5 g-color-white-opacity-0_8 g-color-white--hover" href="#">
                        <i class="fa fa-comments-o"></i> 18
                      </a>
                    </li>
                  </ul>
                </div>
              </article>

              <hr class="g-brd-white-opacity-0_1 g-mt-20 g-mb-15">

              <article class="media">
                <a class="d-flex g-mt-3 mr-3" href="#">
                  <img class="g-width-60 g-height-60" src="{% static 'assets/img-temp/100x100/img4.jpg' %}" alt="Image Description">
                </a>

                <div class="media-body">
                  <h3 class="h6">
                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Top 10 luxury hotels - 5 star cozy rooms</a>
                  </h3>

                  <ul class="u-list-inline g-font-size-12">
                    <li class="list-inline-item">August 12, 2017</li>
                    <li class="list-inline-item">/</li>
                    <li class="list-inline-item">
                      <a class="u-link-v5 g-color-white-opacity-0_8 g-color-white--hover" href="#">
                        <i class="fa fa-comments-o"></i> 09
                      </a>
                    </li>
                  </ul>
                </div>
              </article>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6">
              <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Newsletter</h2>
              </div>

              <div class="g-mb-30">
                <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                <div class="input-group border-0 rounded">
                  <input class="form-control border-0 g-pa-12" type="email" placeholder="Email address">
                  <div class="input-group-btn p-0">
                    <button class="btn u-btn-indigo g-pa-12" type="submit" role="button">Subscribe</button>
                  </div>
                </div>
              </div>

              <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Newsletter</h2>
              </div>

              <p>Follow us if you want to be kept up to date about what’s going on, minute by minute, then search for htmlstream and give us a follow!</p>
              <ul class="list-inline mb-0">
                <li class="list-inline-item g-mr-10">
                  <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6 rounded" href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mr-10">
                  <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6 rounded" href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mr-10">
                  <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6 rounded" href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mr-10">
                  <a class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-bg-white-opacity-0_2--hover g-color-white-opacity-0_6 rounded" href="#">
                    <i class="fa fa-dribbble"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Footer Content -->
          </div>
        </div>

        <!-- Copyright Footer -->
        <div class="u-bg-overlay__inner g-bg-black-opacity-0_3 g-color-white-opacity-0_8 text-center g-py-20">
          <div class="container">
            <small class="g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2017 © All Rights Reserved. Unify Template by
              <a class="g-color-indigo g-color-indigo--hover" href="#">Htmlstream</a></small>
          </div>
        </div>
        <!-- End Copyright Footer -->
      </footer>
      <!-- End Footer -->
    </main>

    <!-- JS Global Compulsory -->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/tether.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>

    <!-- JS Implementing Plugins -->
    <script src="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
    <script src="{% static 'assets/vendor/appear.js' %}"></script>
    <script src="{% static 'assets/vendor/dzsparallaxer/dzsparallaxer.js' %}"></script>
    <script src="{% static 'assets/vendor/dzsparallaxer/dzsscroller/scroller.js' %}"></script>
    <script src="{% static 'assets/vendor/dzsparallaxer/advancedscroller/plugin.js' %}"></script>
    <script src="{% static 'assets/vendor/fancybox/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/slick-carousel/slick/slick.js' %}"></script>
    <script src="{% static 'assets/vendor/typedjs/typed.min.js' %}"></script>

    <!-- JS Unify -->
    <script src="{% static 'assets/js/hs.core.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.header.js' %}"></script>
    <script src="{% static 'assets/js/helpers/hs.hamburgers.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.tabs.js' %}"></script>
    <script src="{% static 'assets/js/helpers/hs.focus-state.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.popup.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.carousel.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.counter.js' %}"></script>
    <script src="{% static 'assets/js/components/text-animation/hs.text-slideshow.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.rating.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.onscroll-animation.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.sticky-block.js' %}"></script>

    <!-- JS Customization -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // Header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // Initialization of HSMegaMenu plugin
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });
        $.HSCore.components.HSTabs.init('[data-tabs-mobile-type]');

        $('[data-toggle="tooltip"]').tooltip();

        // Form Focus State
        $.HSCore.helpers.HSFocusState.init();

        // Onscroll Animation
        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

        // Init popups with media
        $.HSCore.components.HSPopup.init('.js-fancybox');
        $.HSCore.components.HSPopup.init('.js-fancybox-media', {
          helpers: {
            media: {},
            overlay: {
              css: {
                'background': 'rgba(255, 255, 255, .8)'
              }
            }
          }
        });

        // Slick Carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');
        $('#promo-carousel').slick('setOption', 'responsive', [{
          breakpoint: 1200,
          settings: {
            slidesToShow: 4
          }
        }, {
          breakpoint: 992,
          settings: {
            slidesToShow: 3,
            centerPadding: '60px'
          }
        }, {
          breakpoint: 768,
          settings: {
            slidesToShow: 2,
            centerPadding: '40px'
          }
        }, {
          breakpoint: 554,
          settings: {
            slidesToShow: 1,
            centerPadding: '30px'
          }
        }], true);

        // initialization of text animation (typing)
        $(".u-text-animation.u-text-animation--typing").typed({
          strings: ["awesome template", "perfect template", "just like a boss"],
          typeSpeed: 60,
          loop: true,
          backDelay: 1500,
        });

        // initialization of rating
        $.HSCore.components.HSRating.init($('.js-rating'), {
          spacing: 4
        });

        // Parallax
        dzsas_init('#as0', {
          settings_mode: 'onlyoneitem',
          design_arrowsize: '0',
          settings_swipe: 'on',
          settings_swipeOnDesktopsToo: 'on',
          settings_slideshow: 'on',
          settings_slideshowTime: '300',
          settings_autoHeight: 'off',
          settings_transition: 'fade',
          settings_centeritems: false
        });
      });

      $(window).on('load', function () {
        $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
      });
    </script>
  </body>
</html>